---
permalink: /

title: About
layout: outerpage

description: >
  TAS '24 will take place at the University of Texas at Austin on 16–18 September 2024

track:
  dates: homepage

menus:
  main:
    title: About
    weight: 1
---

{%- include outerpage_splash.html title="Second International Symposium on Trustworthy<br>Autonomous Systems (TAS '24)" -%} {%-
include outerpage_feature.html title="Welcome!" body="TAS ’24 will be held in Austin, TX from September 16-18, 2024" -%}{%- include outerpage_contentstart.html -%}

<article class="col-lg-8 col-12">
  <h2 id="our-call-for-papers">Our call for papers</h2>

  <p>
    We invite submissions on research focused on trustworthy autonomous systems (TAS), responsible and ethical
    artificial intelligence, and human-machine interaction.
  </p>

  <p>
    Autonomous systems involve software applications and machines that can take actions with little or no human
    supervision. We are particularly interested in socio-technical systems involving both humans and machines working
    together, and automated decision-making processes and the ways in which they are employed by and impacting people.
    Trustworthy autonomous systems (TAS) generate positive outcomes and mitigate potentially harmful outcomes for
    people, societies, economies, and the environment.
  </p>

  <p>
    We invite full-paper submissions, poster abstracts, and workshop proposals on research that addresses the challenges
    of designing, building, and deploying Trustworthy Autonomous Systems (TAS). Contributions may consider technical,
    social, legal, and ethical issues and their impacts on individuals, society, and the economy. Submissions may come
    from disciplines including, but not limited to, engineering, computer science, psychology, social sciences, law, and
    arts & humanities. There will also be an event before the conference for Doctoral students and Early Career Researchers in these areas.
  </p>

  <p>
    Submissions will be selected for publication following peer review. Submission information for <a href="/2024/submit/papers-posters/">papers</a>, <a href="/2024/submit/papers-posters/">posters</a>, and <a href="/2024/submit/workshops/">workshops</a> is open now.
    Proceedings, including full papers and abstracts, will be published in the ACM Digital Library.
  </p>


  <p>In addition to the papers and workshop track, we have 3 new tracks that are accepting submissions:</p>
 
<ol><li>
A <a href="/2024/submit/fast-track-papers/">fast track for papers</a> that will be published in the ACM Library conference proceedings (full drafts due July 25). Please submit to easychair as per the full papers and extended abstracts track. 
 </li><li>
A <a href="/2024/submit/showcase/">track for previously published papers</a> that we will showcase and discuss at the Symposium, but not publish in the conference proceedings (self-nominations for these also due July 25). A submission form will be available soon. 
 </li><li>
A <a href="/2024/submit/nonarhival-posters/">non-archival posters track</a>, particularly suitable for researchers more used to non-archival conferences (poster proposals due September 2). A submission form will be available soon. 
</li></ol>



  <p>
    {%- for chairs in site.data.oc -%}
      {%- for role in chairs -%}
        {% if role[1]['contact'] -%}
          {% assign use_and = role[1]['people'] | size | plus: -1 -%}
          {%- for person in role[1]['people'] -%}
            {{- person.name -}}, {{ person.institution -}}, {{ person.country -}}<br>
          {%- endfor -%}
          <a href="{{ role[1].email }}" title="Send an email to the CUI {{ site.conference.year }} {{ role[1].label }}">
            {{ site.conference.shortname }} {{ role[1].label }}
          </a>
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}
  </p>
</article>

<aside class="col-lg-4 col-12 ps-xl-5 ps-md-4">
  <div class="my-3 p-xl-4 p-3 shadow">
    <h3>Upcoming dates</h3>

    {% for date in site.data.track_dates[page.track.dates] -%}
    <p {% if forloop.last %}class="mb-0" {% endif %}>
      <strong>{{ date.label }}</strong><br />{% if date.extended_date %}<strike>{{ date.date }}</strike> {{
      date.extended_date }}{% else %}{{ date.date }}{% endif %}
    </p>
    {%- endfor -%}
  </div>
</aside>

{%- include outerpage_contentend.html -%}
