---
permalink: /

title: About
layout: outerpage

description: > 
 TAS '23 will take place in Edinburgh, UK on 11–12th July 2023.

track:
  dates: homepage

menus:
  main:
    title: About
    weight: 1
---

{%- include outerpage_splash.html title="First International Symposium on Trustworthy Autonomous Systems" -%}

{%- include outerpage_feature.html title="Welcome!" body="The Trustworthy Autonomous Systems 2023 symposium focuses on <strong>novel and creative multidisciplinary responsible research & innovation of trustworthy autonomous systems)</strong>.." -%}

{%- include outerpage_contentstart.html -%}

<article class="col-lg-8 col-12">

 <h2 id="our-call-for-papers">Welcome to TAS ’23</h2>
<p>TAS '23 features nine sessions taking place over two days, including presentation of 26 full papers, 31 posters, and TAS Creative Provocations.</p>
 
<p>You’ll have opportunity to network and hear talks from current TAS researchers as they showcase creative, multi- and interdisciplinary responsible research & innovation which focuses on the challenging question of how to ensure that the design, engineering, and operation of autonomous systems generates positive outcomes and mitigates potentially harmful outcomes for people, societies, economies and the environment.</p>
 
<p>TAS ’23 takes place at Heriot-Watt University in Edinburgh, the home of the TAS Node in Trust and the newly built National Robotarium.</p>

<p>Join us at the symposium:<br>
<ul><li><a href="{{ "/programme/" | relative_url }}" title="Browse the programme">See the full programme</a></li>
<!--<li><a href="{{ "/attend/registration/" | relative_url }}" title="Register for TAS '23'">Register for the symposium</a></li>-->
<li><a href="{{ "/attend/travel-information/" | relative_url }}" title="Travel information for  TAS '23'">Learn more about the venue</a></li></ul>
</p>

<!--
<h3>Non-archival track posters</h3>
<p>This track invites submission of non-archival posters in the form of titles and short abstracts (up to 200 words). Submissions can include preliminary results, short prequels to or follow-ups of larger studies, provocative positions, early student research, as well as any recent research which is deemed interesting to the TAS community. Posters will be displayed alongside archival track posters, but they will not be archived in the proceedings. Selection will be made only based on the relevance of the topic to the TAS community and the space available in the venue.</p>

<p>Please <a href="https://forms.office.com/e/wXJA1TA5et">submit your title and abstract using this online form</a> by 16/06/2023 (23:59 BST).</p>

<p>Decisions will be returned by 23/06/2023, one week before the closure of registrations on 30/06/2023.</p>
-->
   <!-- <h2 id="our-call-for-papers">Our call for papers</h2>

    <p>
        We invite full-paper submissions and poster abstracts that take a multidisciplinary approach to address the challenges of designing, building, and deploying Trustworthy Autonomous Systems (TAS). Contributions should consider social, legal, ethical, and technical issues and their impacts on individuals, society, and the economy.
    </p>

    <p>
        TAS ‘23 seeks to showcase creative, multi- and interdisciplinary responsible research & innovation which focuses on the challenging question of how to ensure that the design, engineering, and operation of autonomous systems generates positive outcomes and mitigates potentially harmful outcomes for people, societies, economies and the environment.
    </p>

    <p>
        Your research may adopt specific perspectives on governance, design and deployment of autonomous systems from disciplines including but not limited to psychology, social sciences, law, computer science, engineering, and arts & humanities.
    </p>

    <p>
        We welcome submissions that reflect on the potential or actual real-world impacts of autonomous systems and strongly encourage the adoption of frameworks for responsible research (such as the <a href="https://www.ukri.org/councils/epsrc/guidance-for-applicants/what-to-include-in-your-proposal/health-technologies-impact-and-translation-toolkit/research-integrity-in-healthcare-technologies/responsible-research-and-innovation/" title="UKRI Research integrity in healthcare technologies">responsible research & innovation (RRI) framework</a>). Successful submissions would seek to address factors that impact the trustworthiness of autonomous systems, including but not limited to:   
    </p>

    <ul>
      <li>Their robustness in dynamic and uncertain environments.</li>
      <li>The assurance of their design and operation through verification and validation processes.</li>
      <li>The confidence they inspire as they evolve their functionality.</li>
      <li>Their explainability, accountability, and understandability to a diverse set of users and stakeholders.</li>
      <li>Their defences against attacks on the systems, users, and the environment they are deployed in.</li>
      <li>Their governance and the regulation of their design and operation.</li>
      <li>Public perception and explorations of their adoption, and (non-)use.</li>
      <li>The consideration of human values and ethics in their development, deployment, and use.</li>
    </ul>

    <p>
        Submissions will be selected for publication following peer review. See the <a href="{{ "/submit/" | relative_url }}" title="Information on how to submit to TAS '23">submission instructions</a> on how to prepare and submit your submission The proceedings, including full papers and abstracts, will be published in the ACM Digital Library. Accepted full papers will be invited to submit to a special issue, such as in the Journal of Responsible Technology and Journal of Autonomous Agents and Multi-Agent Systems.  
    </p>

    <p>
        We understand an autonomous system to be a system involving software applications, machines, and people, that is able to take actions with little or no human supervision. Our definition includes socio-technical systems involving both humans and machines working together (e.g., human-agent collectives or human-machine teams), and automated decision-making processes and the ways in which they are employed by and impacting on people (e.g., automated recruitment, facial recognition systems). Machine-to-machine or Human-to-Human trust may also be important but these are not in scope of the TAS symposium.
    </p>

    <p>
        The symposium is aligned with the aims and values of the TAS Programme (see <a href="https://www.tas.ac.uk" title="Trustworthy Autonomous Systems Hub">tas.ac.uk</a>).
    </p>

    <p>
		The symposium will include a Doctoral/Early Career Researcher (ECR) Colloquium and networking event on the afternoon of Monday 10 July. A limited number of travel grants will be available for ECRs.
    </p>-->

</article>

<aside class="col-lg-4 col-12 ps-xl-5 ps-md-4">
<!--
	<div class="text-center mb-3">
<a href="{{ "/attend/registration" | relative_url }}" class="my-3 btn btn-lg btn-dark text-light border" title="Register for TAS '23">Register for TAS '23 now →</a>
</div>-->

<!--    <div class="my-3 p-xl-4 p-3 shadow">
        <h3>Upcoming dates</h3>

{% for date in site.data.track_dates[page.track.dates] -%}
<p {% if forloop.last %}class="mb-0"{% endif %}><strong>{{ date.label }}</strong><br>{% if date.extended_date %}<strike>{{ date.date }}</strike> {{ date.extended_date }}{% else %}{{ date.date }}{% endif %}</p>
{%- endfor -%}

    </div>-->
    
    
   <!-- <div class="my-3 p-xl-4 p-3 shadow">

        <h3>Doctoral / ECR Colloquium</h3>

		<p class="mb-0">
			<strong>Mon. 10 July 2023 (afternoon)</strong><br>
			A pre-Symposium event for PhD students and Early Career Researchers.
		</p>

    </div>-->

    <div class="my-3 p-xl-4 p-3 shadow">

        <h3>Travel Grants</h3>

		<p class="mb-0">
			The TAS Hub will offer a limited number of <a href="{{ "/attend/travel-grants/" | relative_url }}" title="TAS '23 Travel Grants'">travel grants for ECRs to attend TAS '23</a>.
		</p>

    </div>


</aside>

{%- include outerpage_contentend.html -%}

