
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

$tas-blue                   : #000066;
$tas-red                    : #d14034;
$tas-faint-blue             : #f2faff;

$enable-shadows             : false;

$transition-timing-function : ease-in-out;
$transition-duration        : .5s;

$font-family-sans-serif     : 'Source Sans Pro', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family       : 'GoogleSans-Bold', 'Source Sans Pro', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base             : 1.2rem;
$line-height-base           : 1.8;
$headings-fg                : $tas-blue;

$dropdown-bg-filter         : saturate(180%) blur(20px);
$offcanvas-bg-filter        : saturate(180%) blur(20px);

$header-logo-hs             : (
  xs                        : 60px,
  sm                        : 60px,
  md                        : 60px,
  lg                        : 70px,
  xl                        : 80px
);



/**** colours ****/


$primary                 : $tas-blue;
$secondary               : $tas-red;

$body-bg                 : #ffffff;
$body-fg                 : #000000;

$link-color              : #005A66;
$link-hover-color        : shift-color($link-color, $link-shade-percentage);

$header-fg               : #000000;
$header-border-t         : 16px solid $primary;
$header-h                : 66px;

$navbar-toggler-size     : 2rem;

$nav-fg                  : $tas-blue;
$nav-fg-hover            : $tas-red;
$nav-item-xs-bg          : rgba($body-bg, 0.5);
$nav-item-xs-bg-hover    : rgba($body-bg, 0.3);
$nav-item-xs-border      : 1px solid rgba(0,0,0,0.1);

$dropdown-bg             : rgba($body-bg, 0.82);
$dropdown-box-shadow     : $box-shadow-lg;
$dropdown-border-color   : rgba($body-bg, .5);
$dropdown-link-fg        : $body-fg !important;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg  : $primary;
$dropdown-link-active-color: $white;
$dropdown-link-active-bg : $primary;
$dropdown-divider-bg     : $dropdown-border-color;

$offcanvas-bg-color      : $dropdown-bg;

$splash-bg               : url(../img/splash.jpg) no-repeat center center;
$splash-fg               : $white;

$feature-bg              : $tas-faint-blue;

$h1-font-size            : 2.5rem;

$feature-h2-fg           : $tas-red;
