
@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../fnt/GoogleSans-Bold.eot');
    src: url('../fnt/GoogleSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fnt/GoogleSans-Bold.woff2') format('woff2'),
        url('../fnt/GoogleSans-Bold.woff') format('woff'),
        url('../fnt/GoogleSans-Bold.ttf') format('truetype'),
        url('../fnt/GoogleSans-Bold.svg#GoogleSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


header > *, nav, .splash > *, section {
    transition-timing-function: $transition-timing-function;
    transition-duration: $transition-duration;
    transition-property: width, max-width;
}

header {
//     border-top: $header-border-t;
    color: $header-fg;

    .header-content {
        line-height: 1
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        .logo, .header-content, .navbar-toggler {
            height: map-get($header-logo-hs, $breakpoint);
        }
    }
}


.navbar-nav {
    border: $nav-item-xs-border;

    .nav-item {
        background: $nav-item-xs-bg;
        border-bottom: $nav-item-xs-border;
    
        &:hover, &:active {
            background: $nav-item-xs-bg-hover;
        }

        &:last-of-type {
            border-bottom: 0;
        }
    }
}

.nav-link {
    color: $nav-fg !important;
    outline: none;
    text-transform: uppercase;
    transition-timing-function: $transition-timing-function;
    transition-duration: $transition-duration;
    transition-property: color;
    
    &:active, &.active, &:hover {
        color: $nav-fg-hover !important;
    }
    
    &.dropdown-toggle {
        margin-top: 0px !important;
    }
}

.dropdown-menu {
    background: $dropdown-bg !important;
    -webkit-backdrop-filter: $dropdown-bg-filter;
    backdrop-filter: $dropdown-bg-filter;

    .dropdown-divider {
        border-top: 1px solid $dropdown-divider-bg;
    }
    
    .dropdown-item {
    
    }
}

.navbar-toggler-container {  
    .navbar-toggler {
        font-size: $navbar-toggler-size;
        color: $nav-fg;
    
        &:focus {
            box-shadow: none !important;
        }
    }
}

.offcanvas {
    -webkit-backdrop-filter: $offcanvas-bg-filter;
    backdrop-filter: $offcanvas-bg-filter;
}


@include media-breakpoint-up(lg) {
    .navbar-nav {
        border: 0;

        .nav-item {
            background: transparent;
            border-bottom: 0;
    
            &:hover, &:active {
                background: transparent;
            }
        }
    }
}


h2, h3, h4 {
    color: $headings-fg;
}

.splash {
    color: $splash-fg;
    background: $splash-bg;
    background-size: contain;
    border-bottom: 4px solid $feature-h2-fg;
    border-top: 2px solid $feature-h2-fg;
    line-height: 1 !important;
    
    
    & h1 span {
        line-height: 1.2;
    }
}

.feature {
    background: $feature-bg;
    border-bottom: 4px solid $feature-h2-fg;

    h2 {
        color: $feature-h2-fg;
    }
}

article {
    h2, h3, h3 {
        padding: 1.5rem 0;
    }
}

@include media-breakpoint-up(lg) {
    .navbar-container {
        margin-right: -8px;
    }

    .offcanvas {
        -webkit-backdrop-filter: initial;
        backdrop-filter: initial;
        box-shadow: none !important;
    }
    
    .offcanvas-end {
        width: auto !important;
    }
}

.prg {
  .card-header {
    *:hover,
    *:focus,
    *:active
     {
      outline: none;
      box-shadow: none !important;
      -webkit-appearance: none;
    }
  }
}

.pg-days-selector {
	.active {
		background: #fff !important;
		border: 1px solid $tas-blue !important;
	}

}

.prg-day {
  & > li:last-child {
    border-bottom: 0 !important;
  }
  
  .prg-row {
    border-left: 3px solid $prg-bg;
    border-right: 3px solid $prg-bg;
    opacity: $prg-row-o;
    transition-timing-function: $transition-timing-function;
    transition-duration: $transition-duration;
    transition-property: opacity;
    
    &:hover {
      opacity: 1;
      border-left: 3px solid $primary;
    }
  }
  
  .prg-timing {
    font-weight: bold;
  }
  
  .prg-inner-icon {
    margin-right: -.5rem;
  }
  
  .prg-icon-start, .prg-icon-end, .prg-icon-warning, .prg-icon-location {
    height: $prg-icon-timing-h;
    width: $prg-icon-timing-w;
  }
  
  .prg-text-timing {
    line-height: $prg-icon-timing-h;
    vertical-align: top;
  }
  
  .prg-icon-start {
    background-image: escape-svg($prg-icon-start-bg) !important;
  }
  
  .prg-icon-end {
    background-image: escape-svg($prg-icon-end-bg) !important;
  }
  
  .prg-icon-location {
    background-image: escape-svg($prg-icon-location-bg) !important;
  }
  
  .prg-icon-warning {
    background-image: escape-svg($prg-icon-warning-bg) !important;
  }

  .prg-icon-aaai {
    height: $prg-icon-aaai-h;
    width: $prg-icon-aaai-w;
    background-image: escape-svg($prg-icon-aaai-bg) !important;
    opacity: $prg-icon-aaai-o;
  }
  
  .prg-icon-acmdl {
    height: $prg-icon-acmdl-h;
    width: $prg-icon-acmdl-w;
    background-image: escape-svg($prg-icon-acmdl-bg) !important;
    opacity: $prg-icon-acmdl-o;
  }

  .prg-icon-sagepub {
    height: $prg-icon-sagepub-h;
    width: $prg-icon-sagepub-w;
    background-image: escape-svg($prg-icon-sagepub-bg) !important;
    opacity: $prg-icon-sagepub-o;
  }

  .prg-icon-springerlink {
    height: $prg-icon-springerlink-h;
    width: $prg-icon-springerlink-w;
    background-image: escape-svg($prg-icon-springerlink-bg) !important;
    opacity: $prg-icon-springerlink-o;
  }

  .prg-icon-info {
    height: $prg-icon-info-h;
    width: $prg-icon-info-w;
  }

  .prg-icon-info {
    height: $prg-icon-info-h;
    width: $prg-icon-info-w;
    background-image: escape-svg($prg-icon-info-bg) !important;
    opacity: $prg-icon-info-o;
  }

  .prg-icon-info-sm {
    height: $prg-icon-info-sm-h;
    width: $prg-icon-info-sm-w;
    background-image: escape-svg($prg-icon-info-sm-bg) !important;
    opacity: $prg-icon-info-o;
  }

  .prg-icon-link {
    height: $prg-icon-link-h;
    width: $prg-icon-link-w;
    background-image: escape-svg($prg-icon-link-bg) !important;
    opacity: $prg-icon-link-o;
  }

  .prg-icon-cal {
    height: $prg-icon-cal-h;
    width: $prg-icon-cal-w;
    background-image: escape-svg($prg-icon-cal-bg) !important;
    opacity: $prg-icon-cal-o;
  }
  
  .prg-icon-aaai, .prg-icon-acmdl , .prg-icon-sagepub, .prg-icon-springerlink , .prg-icon-info, .prg-icon-link, .prg-icon-info-sm, .prg-icon-cal  {
    transition-timing-function: $transition-timing-function;
    transition-duration: $transition-duration;
    transition-property: opacity;

    &:hover {
      opacity: 1;
    }
  }
  
  .align-down-small-icon {
    margin-bottom: -4px;
  }
}


