---
label: Program
title:  Program
redirect_from: 
  - /programme/
description: The online program for TAS '24 symposium.

splash_title:  TAS '24 program

lastmod:
  type: data
  files:
    - prg_presentations.yml
    - prg_sessions.yml

menus:
  main:
    title: Program
    alt: The online program for the TAS '24 symposium
    weight: 8
    identifier: programme
  programme:
    title: Program
    alt: The online program for the TAS '24 symposium
    weight: 0

---

{% assign summer_time = true %}
{% assign num_sessions = site.data.prg_sessions | size %}
{% assign num_keynotes = 0 %}
{% assign num_full_papers = 0 %}
{% assign num_provocation_papers = 0 %}
{% assign num_panels = 0 %}
{% assign num_demos = 0 %}
{% assign num_posters = 0 %}
{% assign num_featured_talks = 0 %}

{% assign index_day_show_first = 0 %}

{% assign sorted_sessions = site.data.prg_sessions | sort: "start_time" %}
{% assign days = "" | split: ',' %}
{% for session in sorted_sessions %}
    {% assign day = session.start_time | date: "%-d %b %Y" %}
    {% assign days = days | push: day %}

    {% if session.type == 'EOD' %}
    {% assign num_sessions = num_sessions | plus: -1 %}
    {% elsif session.type == 'Break' %}
    {% assign num_sessions = num_sessions | plus: -1 %}
    {% elsif session.type == 'Innerbreak' %}
    {% assign num_sessions = num_sessions | plus: -1 %}
    {% elsif session.type == 'Reception' %}
    {% assign num_sessions = num_sessions | plus: -1 %}
    {% endif %}
 
    {% for presentation in site.data.prg_presentations[session.id]
     %}
        {% if presentation.type == "Full Paper" %}
            {% assign num_full_papers = num_full_papers | plus: 1 %}
        {% elsif presentation.type == "Provocation Paper" %}
            {% assign num_provocation_papers = num_provocation_papers | plus: 1 %}
        {% elsif presentation.type == "Panel" %}
            {% assign num_panels = num_panels | plus: 1 %}
        {% elsif presentation.type == "Demo" %}
            {% assign num_demos = num_demos | plus: 1 %}
        {% elsif presentation.type == "Poster" %}
            {% assign num_posters = num_posters | plus: 1 %}
        {% elsif presentation.type == "Featured Talk" %}
            {% assign num_featured_talks = num_featured_talks | plus: 1 %}
        {% elsif presentation.type == "Keynote" %}
            {% assign num_keynotes = num_keynotes | plus: 1 %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% assign days = days | uniq %}
{% assign num_days = days | size %}

<p>
	The program below is provisional so please check for updates
</p>
<p>
	Each paper presentation is allocated 15 minutes INCLUDING time for questions. We recommend that presenters speak for 10-12 minutes to allow a few minutes for questions. The paper sessions will be strictly timed so that we don’t overrun. Presenters will also be asked to submit their presentation slides in advance and to be in the room ahead of their session (e.g. during the preceding break period) to meet the session Chair. Further details will provided to presenters in due course.</p>
</p>

<ul class="nav nav-pills mb-3 pg-days-selector justify-items-center" role="tablist" aria-label="Days of the conference">
	{% for day in days %}
		<li class="nav-item" role="presentation">
			{% assign date = day | truncate: 2, '' %}
			{% assign date = date | strip %}
			{%- if date == "1" or date == "21" or date == "31" -%}
				{%- assign suffix = "st" -%}
			{%- elsif date == "2" or date == "22" -%}
				{%- assign suffix = "nd" -%}
			{%- elsif date == "3" or date == "23" -%}
				{%- assign suffix = "rd" -%}
			{%- else -%}
				{%- assign suffix = "th" -%}
			{%- endif -%}
			{% assign rest = day | slice: 2, 100 | truncatewords: 1, '' %}
			<button class="program-dates small nav-link me-md-2 me-1 px-md-3 p-2" id="programDay{{ forloop.index0 }}" data-date="{{ day | date: "%F" }}" data-bs-toggle="pill" data-bs-target="#program{{ forloop.index0 }}" type="button" role="tab" aria-controls="program{{ forloop.index0 }}" aria-selected="{% if forloop.index0 == 0 %}true{% else %}false{% endif %}">{{ rest }} {{ date }}</button>
		</li>
	{% endfor %}
</ul>

<div id="programSchedule" class="tab-content">
{% for day in days %}
	{%- assign day_index = forloop.index0 -%}
	<div class="card tab-pane fade show" role="tabpanel" aria-labelledby="programDay{{ forloop.index0 }}" id="program{{ forloop.index0 }}">
		<ul class="list-unstyled prg-day mb-0 border-0 rounded-0">
			{%- for session in site.data.prg_sessions %}
				{% if summer_time %}
					{% assign start_time = session.start_time | date: '%s' %}
					{% assign end_time = session.end_time | date: '%s'  %}
				{% else %}
					{% assign start_time = session.start_time %}
					{% assign end_time = session.end_time %}
				{% endif %}

				{% assign temp_day = start_time | date: "%-d %b %Y" %}
				{% if temp_day != day %}
					{% continue %}
				{% endif %}

				{% if session.type == "EOD" %}
				<li class="d-flex p-3 bg-lightest border-bottom rounded-0" id="session-{{ session.id }}" data-tab="programDay{{ day_index }}">
					<div class="flex-grow-1 ms-3 text-center text-muted">
						{% if session.description %}
						{{ session.description  }}
						{% endif %}
					</div>
				</li>
				{% elsif session.type == "Innerevent" %}
				{% elsif session.type == "Innerbreak" %}
				{% elsif session.type == "Break" %}
				<li class="d-flex p-3 bg-lightest border-bottom rounded-0" id="session-{{ session.id }}" data-tab="programDay{{ day_index }}">
					<div class="flex-grow-1 ms-3 text-center text-muted">
						{% if session.description %}
						{% assign time_str = start_time | date: "%H:%M" %}
						{% assign time_str = time_str | append: "–" %}
						{% assign end_time_str = end_time | date: "%H:%M" %}
						{% assign time_str = time_str | append: end_time_str %}
						{{ session.description | replace: "####", time_str }}
						{% endif %}
					</div>
				</li>
				{% else %}
				<li class="d-flex prg-row p-3 rounded bg-light  border-bottom rounded-0 flex-md-row flex-column" id="session-{{ session.id }}" data-tab="programDay{{ day_index }}">
					<div class="prg-left flex-shrink-0 flex-grow-0 me-md-3 mb-md-0 mb-3 d-flex flex-md-column flex-row">
						<div class="text-capitalize mb-md-2 me-3"><span class="badge bg-primary">{{ session.type }}</span></div>
						<div class="mb-md-1 me-md-0 me-3 small">
							<span alt="A clock" class="d-inline-block prg-icon-timing prg-icon-start me-2"></span><span class="d-inline-block prg-text-timing">Starts <span class="d-md-inline d-none">at</span> <span class="prg-timing" data-timestamp="{{ start_time | date: "%FT%T.000Z" }}" data-program-scheduled="{{ start_time | date: "%d" }}" data-day-alert="different-day-{{ forloop.index0 }}"><span></span>{{ start_time | date: "%H:%M" }}</span>
						</div>
						<div class="mt-md-1 small">
							<span alt="A stopwatch" class="d-inline-block prg-icon-timing prg-icon-end me-2"></span><span class="d-inline-block prg-text-timing">Ends <span class="d-md-inline d-none">at</span> <span class="prg-timing" data-timestamp="{{ end_time | date: "%FT%T.000Z" }}"><span></span>{{ end_time | date: "%H:%M" }}</span>
						</div>
						{% if session.location %}
						<div class="mt-md-2 small ms-md-0 ms-3 d-sm-flex flex-columns d-none">
							<span alt="A map pin" class="d-inline-block flex-shrink-0 prg-icon-timing prg-icon-location me-2"></span><span class="d-inline prg-text-timing">
							{%- if session.location_link -%}
								<a href="{{ session.location_link }}" title="Link to {{ session.location }}" class="text-secondary">{{ session.location }}</a>
							{%- else -%}
								{{- session.location | strip -}}
							{%- endif -%}</span>
						</div>
						{% endif %}
					</div>
					<div class="flex-grow-1 ms-md-3 me-md-0 me-3 mb-0 w-100">
						<div class="float-end d-flex flex-row mt-md-0 mt-1 ms-1">
							{% if session.info %}
							{% unless session.subtitle %}
							<a href="{{ session.info }}" title="Read more about this session" class="d-block prg-icon-info-sm me-2">
								<span class="visually-hidden">Read more about this session</span>
							</a>
							{% endunless  %}
							{% endif %}
							{% capture calendar_url %}/program/ics/{{ session.id }}.ics{% endcapture %}
							<a href="{{ calendar_url | relative_url }}" title="Download an iCal (ICS) file for this session in the program" class="d-block prg-icon-cal me-2">
								<span class="visually-hidden">iCalendar (ICS) file for this session</span>
							</a>
							{% capture session_url %}/program/link/{{ session.id }}{% endcapture %}
							<a href="{{ session_url | relative_url }}" title="Get the permanent link to this session in the program" class="d-block prg-icon-link">
								<span class="visually-hidden">Permalink to this session</span>
							</a>
						</div>
						<h4 class="text-primary mt-0 mb-1">{{ session.title }}</h4>
						
						{% if session.location %}
						<div class="small mt-2 pt-1 mb-2 d-sm-none">
							<span alt="A map pin" class="d-inline-block prg-icon-timing prg-icon-location me-2"></span><span class="d-inline-block prg-text-timing">
							{% if session.location_link %}
								<a href="{{ session.location_link }}" title="Link to {{ session.location }}" class="text-secondary">{{ session.location }}</a>
							{% else %}
								{{ session.location }}
							{% endif %}</span>
						</div>
						{% endif %}
						{% if session.presenters %}
						{{ session.presenters }}
						{% endif %}
						{% if session.chairs %}
						<em class="small">Chaired by {{ session.chairs }}</em>
						{% endif %}
						{% if session.subtitle %}
						<h5 class="text-center mt-3">
						{{ session.subtitle }}
						{% if session.info %}
						<a href="{{ session.info }}" title="Read more about this session" class="d-inline-block prg-icon-info-sm ms-2 align-down-small-icon">
							<span class="visually-hidden">Read more about this session</span>
						</a>
						{% endif %}
						</h5>
						{% endif %}
						
						{% if session.description %}
						<p class="mb-0">{{ session.description }}</p>
						{% endif %}
						
						{% assign next = forloop.index %}
						{% if site.data.prg_sessions[next] and site.data.prg_sessions[next].type == 'Innerevent' %}
							<div class="media-body border bg-lightest my-3 mb-2 p-2 text-start small">
								<ol class="list-unstyled">
							{% for i in (1..99) %}
								{% if site.data.prg_sessions[next] and site.data.prg_sessions[next].type == 'Innerevent' %}
									{% if site.data.prg_sessions[forloop.index].description %}
										{% if summer_time %}
											{% assign innerbreak_start_time = site.data.prg_sessions[forloop.index].start_time | date: '%s' %}
											{% assign innerbreak_end_time = site.data.prg_sessions[forloop.index].end_time | date: '%s'  %}
										{% else %}
											{% assign innerbreak_start_time = site.data.prg_sessions[forloop.index].start_time %}
											{% assign innerbreak_end_time = site.data.prg_sessions[forloop.index].end_time %}
										{% endif %}
										{% assign time_str =  innerbreak_start_time | date: "%H:%M" %}
										{% assign time_str = time_str | append: "–" %}
										{% assign end_time_str =  innerbreak_end_time | date: "%H:%M" %}
										{% assign time_str = time_str | append: end_time_str %}
										<li><strong>{{ time_str }}</strong> {{ site.data.prg_sessions[forloop.index].description }}</li>
									{% endif %}
									{% assign next = next | plus: 1 %}
								{% else %}
									{% break %}
								{% endif %}
							{% endfor %}
								</ol>
							</div>
						{% endif %}

						{% assign presentations = site.data.prg_presentations[session.id] %}
						{% if presentations.groups %}
							{%- for group in presentations.groups %}
								<h6 class="mt-3">{{ group.title }}</h6>
								{% include prg_presentations.html presentations=group.presentations -%}
							{%- endfor -%}
						{% else %}
							{% if presentations.size > 0 %}
								{% include prg_presentations.html presentations=presentations -%}
							{% endif %}
						{% endif %}
					</div>
				</li>
				{% endif %}
			{%- endfor -%}
			</ul>
	</div>
{% endfor %}
</div>

<a href="/2024/program/ics/all.ics" title="Download an iCal (ICS) file for all sessions in the program" class="d-block prg-icon-cal mt-3 mx-2 small text-center">
  Add sessions to your calendar
</a> <a href="webcal://symposium.tas.ac.uk/2024/program/ics/all.ics" title="Download an iCal (ICS) file for all sessions in the program" class="d-block prg-icon-cal mt-3 mx-2 small text-center">
  Subscribe to the program in your calendar
</a>


<script>
window.addEventListener('load', () => {
	const dates = document.querySelectorAll('.program-dates');
	var shownDate = false;

	if(window.location.hash && window.location.hash.startsWith("#session-")) {
		const session = document.getElementById(window.location.hash.substring(1));
		const tabId = "#" + session.dataset.tab;
		if(session != undefined) {
			shownDate = true;
			document.querySelector(tabId).addEventListener('shown.bs.tab', event => {
				const top =  session.getBoundingClientRect().top;
				window.scrollTo({
					top: top,
					behavior: "smooth",
				});
			});
			(new bootstrap.Tab("#" + session.dataset.tab)).show();
		}
	} else {
		const currentDate = (new Date()).toISOString().substring(0,10);
		dates.forEach((date) => {
			if(!shownDate && date.dataset.date == currentDate) {
				(new bootstrap.Tab("#" + date.id)).show();
				shownDate = true;
				return;
			}
		});
	}

	if(!shownDate) {
		(new bootstrap.Tab("#" + dates[0].id)).show();
	}
});
</script>
